:root {
  --WHITE: #fff;
  --CORNFLOWER: #e7e9fc;
  --IRIS: #4d5ae5;
  --NAVY-BLUE: #2e2f42;
  --SLATE: #434455;
  --CLOUD: #f4f4fd;
  --LIGHT-SLATE: #8e8f99;
  --OCEAN: #404bbf;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1200px;
