.portfolio {
  &__countainer {
    max-height: 100%;
    margin: 0 auto;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    max-width: 1444px;
  }

  &__cards {
    border: 1px solid var(--CLOUD, #f4f4fd);
    background: var(--WHITE, #fff);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    margin-bottom: 72px;
  }

  &__cards:hover {
    background-color: var(--IRIS);
  }

  &__title {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: var(--NAVY-BLUE);
    margin: 32px 0 0 0;
  }
  &__text {
    color: var(--SLATE, #434455);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    margin: 8px 0 32px 0;
  }
}
